h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

/* Mobile Media Queries */

@media screen and (max-width: 375px) {
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
}
