.person-card {
  width: 319px;
  height: 607px;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  margin-right: 16px;
}

.person-name-age {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.4px;
}

.person-city {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.64;
  margin: 4px 0 18px 0;
}

.person-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

img {
  display: block;
}

.person-picture {
  width: 153px;
  height: 153px;
  object-fit: contain;
  margin: 18px 0 16px 0;
}
