header {
  padding-top: 56px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.04));
}

/* Mobile Media Queries */

@media screen and (max-width: 768px) {
  .header {
    height: 56px;
  }
}
