main {
  background-color: rgba(229, 229, 229, 0.2);
  padding: 48px 0 118px 0;
}

.heading-container,
.plans-program-container {
  padding: 0 355px;
}

.plans-ordered {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.plans-ordered-count {
  font-weight: 700;
}

.heading-title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.free-trial-orange-text {
  color: #ff9b4e;
}

/* Mobile Media Queries */

@media screen and (max-width: 768px) {
  .plans-ordered {
    text-align: left;
  }
}
