main {
  background-color: rgba(229, 229, 229, 0.2);
  padding: 48px 0 118px 0;
}

.heading-container,
.plans-program-container {
  padding: 0 355px;
}

.plans-program-container {
  display: flex;
  justify-content: space-between;
}

.plans-ordered {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.plans-ordered-count {
  font-weight: 700;
}

.heading-title {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 56px;
}

.free-trial-orange-text {
  color: #ff9b4e;
}

.person-cards-wrapper {
  padding: 0 225.5px;
  margin-top: 48px;
}

.person-cards-wrapper > h3 {
  text-align: center;
}

.person-cards {
  display: flex;
  margin-top: 24px;
}

.person-cards > :last-child {
  margin-right: 0;
}

.positive-yoga {
  font-weight: 700;
}

/* Mobile Media Queries */

@media screen and (max-width: 768px) {
  main {
    padding: 16px 0 65px;
  }
  .heading-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
  }
  .heading-container,
  .plans-program-container {
    flex-direction: column;
    padding: 0 16px;
  }
  .plans-ordered {
    text-align: left;
  }
  .person-cards-wrapper {
    padding: 0 16px;
    overflow: hidden;
  }
  .person-cards {
    width: 989px;
    overflow-x: scroll;
  }
}
