@font-face {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Regular"),
    url("./assets/fonts/SFPRODISPLAYREGULAR.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  color: #22222c;
  box-sizing: border-box;
}

body {
  font-family: SF Pro Display Regular;
}
