.info-section {
  display: flex;
  justify-content: space-between;
  padding: 0 353px;
}

.journey-phones {
  width: 343px;
  height: 366px;
  object-fit: contain;
  margin-top: 20px;
}

.motivations-block {
  margin-top: 26px;
}

.journey-wrapper {
  position: relative;
}

.journey-mobile-bg {
  position: absolute;
  top: 96px;
  left: -200px;
  min-width: 800px;
  height: 150px;
  background-color: #ebebeb;
  transform: rotate(-30deg);
  z-index: -1;
  display: none;
}

/* Mobile Media Queries */

@media screen and (max-width: 375px) {
  .info-section {
    flex-direction: column-reverse;
    padding: 0 16px;
  }
  .journey-container {
    margin-top: 40px;
    overflow: hidden;
  }
  .journey-mobile-bg {
    display: block;
  }
}
